<% title(@project.name, "Projects")%>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>init_progress:</strong>
  <%= @project.init_progress %>
</p>

<p>
  <strong>Target:</strong>
  <%= @project.target %>
</p>

<p>
  <strong>Current progress:</strong>
  <%= @project.current_progress %>
</p>

<p>
  <strong>Expected progress:</strong>
  <%= @project.cal_expected_progress %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @project.start_at.localtime if @project.start_at%>
</p>

<p>
  <strong>End at:</strong>
  <%= @project.end_at.localtime if @project.end_at %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @project.unit %>
</p>

<p>
  <strong>Alert:</strong>
  <%= @project.alert_type %>
</p>

<p>
  <strong>Is Decimal Unit:</strong>
  <%= @project.is_decimal_unit %>
</p>

<p>
  <strong>Is Consumed:</strong>
  <%= @project.is_consumed %>
</p>

<p>
  <strong>Progress Image:</strong><br>
  <%= image_tag "",alt: "Progress Image", id: "ticktee_img" %>
</p>

<p>
	<strong>Image Access Url:</strong><br>
	<%= link_to generate_url(current_user, @project)+".jpg", generate_url(current_user, @project)+".jpg"%>
</p>

<p>
	<strong>Auto update javascript</strong>
	<p>please insert the following html code anywhere you would like to show your project progress before the end of &lt;body&gt; tag</p>
	<textarea id="auto_js_textarea" class="form-control" rows="10">
		
	</textarea>
	<p>Tips: You could use your own &lt;img&gt; tag with id named "ticktee_img" as container to load image instead of using given &lt;div&gt; tag</p>
</p>

<div class="btn-group" style="margin-top: 10px">
<%= link_to 'Edit', [:edit, current_user, @project] , {class: "btn btn-default btn-xs", role: "button"} %>
<%= link_to 'Destory',  [current_user, @project], {method: :delete, class: "btn btn-default btn-xs", role: "button", data: {confirm: "Do you really want to destory this project?"}}  %>
<%= link_to 'Back', user_projects_path(current_user), {class: "btn btn-default btn-xs", role: "button"}  %>
<%= link_to 'Generate', generate_url(current_user, @project)+".jpg",  {class: "btn btn-default btn-xs", role: "button",   method: :post} %>

</div>

<script type="text/javascript">
	$(document).ready(function(){
		var auto_insert_js = 	
			"<div id = \"ticktee\"></div>\n"+
			"<script type=\"text/javascript\">\n"+
			"	(function(){\n"+
			"		var ticktee_js = document.createElement('script'); ticktee_js.type = \"text/javascript\";\n"+
			"		ticktee_js.src = '<%= generate_url(current_user, @project) %>.js';\n"+
			"		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ticktee_js);\n"+
			"	})()\n"+
			"</sc"+"ript>\n";		
		$('textarea').val(auto_insert_js)

		var image_original_url = '<%= generate_url(current_user, @project) %>.jpg?';
		var updateUrl = function(){
			var time = (new Date()).getTime()
			return image_original_url+time
		}
		if($('#ticktee_img'))
		{
			var refreshImage = function(){
				$('#ticktee_img').attr('src', updateUrl())
			}
			refreshImage()
			setInterval(function(){refreshImage()}, 300*1000)
		}
		
	});
</script>


